<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/flexboxgrid.min.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
      {% include 'navbar.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <main>
        <section class="date">
            <div class="date-info">
                <h2 id="date"></h2>
                <button id="create-task" class="sectionSide" style="background-image: url(&quot;/static/assets/add.svg&quot;);"></button>            </div>
        </section>
        <section class="main-section" id="display1">
            <div class="calendar" id="calendar">
            </div>
<div class="tasks" id="tasks">
    {% for task in tasks %}
<div class="event-card" data-task-id="{{ task._id }}">
    <h3>{{ task._id }}</h3>
    <p>{{ task.description }}</p>
    <div class="delete-task-container">
        <button class="delete-task" onclick="deleteTask('{{ task._id }}')">DELETE</button>
    </div>
</div>
    {% endfor %}
</div>




            <div class="form-add-task" id="form-add-tasks">
                <div class="task-saved" id="task-saved">
                    <img src="/static/assets/confirm-img.png" alt="">
                    <p>Task saved Successfuly</p>
                </div>
                <form id="form">
                    <input type="text" autocomplete="off" placeholder="Task name" id="task-name" name="task-name">
                    <div class="date-div">
                        <label for="datepicker" class="label-form">Date</label>
                        <input id="datepicker" autocomplete="off" class="task-date" placeholder="Task date" name="datepicker">
                        <img src="/static/assets/icon-calendar.svg" class="icon-calendar">
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="task-time">
                                <label for="task-start-time"" class="label-form">Start</label>
                                <input  name="task-start-time" id="task-start-time" class="timepicker" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="task-time" id="task-time-div">
                                <label for="task-finish-time" class="label-form">End</label>
                                <input  name="task-finish-time" id="task-finish-time" class="timepicker2" autocomplete="off" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="task-info">
                        <label for="task-info" class="label-form">Description</label>
                        <input type="text" autocomplete="off" id="task-info" placeholder="Describe your task" name="task-info">
                    </div>

                    <label for="" class="label-form">Category</label>
                    <div class="task-category">
                        <div class="develop" id="develop-div">
                            <input type="radio" name="category" id="develop-input" value="Development">
                            <label for="develop-input">Development</label>
                        </div>
                        <div class="university" id="university-div">
                            <input type="radio" name="category" id="university-input" value="University">
                            <label for="university-input">University</label>
                        </div>
                        <div class="home" id="home-div">
                            <input type="radio" name="category" id="home-input" value="Home">
                            <label for="home-input">Home</label>
                        </div>
                    </div>
                    <p id="error"></p>
                    <button class="button-add-task">Create new Task</button>
                </form>
            </div>

            <div class="footer">
                <p>Have a Great Day !</p>
                <a href=""><img src="/static/assets/heart.png" alt="" class="ILY"></a>
            </div>
        </section>
    </main>

    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>